@import "tailwindcss";
@source "../../../../packages/ui/react/next/components/**/*.{js,ts,jsx,tsx}";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "./shadetoshade.css";

@theme {
  --breakpoint-md: 920px;
  --breakpoint-lg: 1080px;
  --breakpoint-xl: 1300px;
}

.noise-bg {
  background-color: var(--color-surface-50);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='1.4' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noise)' opacity='0.4'/></svg>");
}

.noise-bg-opac-0pt8 {
  background-color: var(--color-surface-50);
  background-blend-mode: lighten;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='1.9' numOctaves='2' stitchTiles='stitch'></filter><rect width='100%' height='100%' filter='url(%23noise)' opacity='0.8'/></svg>");
}

.sans-serif {
  font-family: var(--font-outfit), Arial, sans-serif;
}

.displayi {
  font-family: var(--font-bebas-neue), "Arial Narrow", Arial, sans-serif;
}

h1,
h2 {
  font-family: var(--font-bebas-neue), "Arial Narrow", Arial, sans-serif;
}

h4,
h5,
h6 {
  font-family: var(--font-outfit), Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.04em;
}

.main-padding {
  @apply px-2 py-3 md:py-5 md:px-4;
}
