@import "tailwindcss";
@source "../../../packages/ui/react/next/components/**/*.{js,ts,jsx,tsx}";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "./hyperink.css";

body {
  font-family: var(--font-outfit);
}

h1,
h2,
h3 {
  font-family: var(--font-caprasimo);
}

h4,
h5,
h6 {
  font-family: var(--font-outfit);
}
p,
span {
  font-family: var(--font-outfit);
  @apply text-sm md:text-base;
}

a {
  font-family: "Outfit", sans-serif;
}
.serif {
  font-family: "Caprasimo", sans-serif;
}
.sans-serif {
  font-family: "Outfit", sans-serif;
}
