@import "tailwindcss";
@source "../../../packages/ui/react/components/**/*.{js,ts,jsx,tsx}";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "./hyperinknue.css";

@theme {
  --font-sans-serif: var(--font-outfit), Arial, sans-serif;
  --font-display: "Rubik", sans-serif;
  --font-display-secondary: var(--font-rubik-dirt), sans-serif;
}

@layer base {
  body,
  p,
  span {
    @apply font-sans-serif text-surface-950-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-surface-800-200;
  }
  h1 {
    @apply text-4xl md:text-5xl;
  }
}

@layer utility {
  button {
    @apply p-3 rounded-sm preset-filled-secondary-500;
  }
}
