@import "tailwindcss";
@source "../../../packages/ui/react/next/components/**/*.{js,ts,jsx,tsx}";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "./hyperinknue.css";

span {
  font-family: var(--font-outfit), Arial, sans-serif;
  @apply text-sm md:text-base text-surface-950-50;
}

@theme {
  --font-display: var(--font-league-gothic), "Arial Narrow", Arial, sans-serif;
  --font-sans-serif: var(--font-outfit), Arial, sans-serif;
}
