[data-theme="hyperinknue"] {
  --text-scaling: 1;
  --typo-base--font-family: system-ui, sans-serif;
  --typo-base--font-size: inherit;
  --typo-base--color-light: var(--color-surface-950);
  --typo-base--color-dark: var(--color-surface-50);
  --typo-base--line-height: inherit;
  --typo-base--font-weight: normal;
  --typo-base--font-style: normal;
  --typo-base--letter-spacing: 0em;
  --typo-base--font-stretch: inherit;
  --typo-base--font-kerning: inherit;
  --typo-base--text-shadow: inherit;
  --typo-base--word-spacing: inherit;
  --typo-base--hyphens: inherit;
  --typo-base--text-transform: inherit;
  --typo-heading--font-family: inherit;
  --typo-heading--color-light: inherit;
  --typo-heading--color-dark: inherit;
  --typo-heading--font-weight: bold;
  --typo-heading--font-style: normal;
  --typo-heading--letter-spacing: inherit;
  --typo-heading--font-stretch: inherit;
  --typo-heading--font-kerning: inherit;
  --typo-heading--text-shadow: inherit;
  --typo-heading--word-spacing: inherit;
  --typo-heading--hyphens: inherit;
  --typo-heading--text-transform: inherit;
  --typo-anchor--font-family: inherit;
  --typo-anchor--font-size: inherit;
  --typo-anchor--color-light: var(--color-primary-500);
  --typo-anchor--color-dark: var(--color-primary-500);
  --typo-anchor--line-height: inherit;
  --typo-anchor--font-weight: inherit;
  --typo-anchor--font-style: inherit;
  --typo-anchor--letter-spacing: inherit;
  --typo-anchor--font-stretch: inherit;
  --typo-anchor--font-kerning: inherit;
  --typo-anchor--text-shadow: inherit;
  --typo-anchor--word-spacing: inherit;
  --typo-anchor--hyphens: inherit;
  --typo-anchor--text-transform: inherit;
  --typo-anchor--text-decoration-line: none;
  --typo-anchor--text-decoration-color: inherit;
  --typo-anchor--text-decoration-style: inherit;
  --typo-anchor--text-decoration-thickness: inherit;
  --typo-anchor--text-underline-offset: inherit;
  --typo-anchor--text-underline-position: inherit;
  --typo-anchor--hover--text-decoration-line: underline;
  --typo-anchor--hover--text-decoration-color: inherit;
  --typo-anchor--hover--text-decoration-style: inherit;
  --typo-anchor--hover--text-decoration-thickness: inherit;
  --typo-anchor--hover--text-underline-offset: inherit;
  --typo-anchor--hover--text-underline-position: inherit;
  --typo-anchor--active--text-decoration-line: none;
  --typo-anchor--active--text-decoration-color: inherit;
  --typo-anchor--active--text-decoration-style: inherit;
  --typo-anchor--active--text-decoration-thickness: inherit;
  --typo-anchor--active--text-underline-offset: inherit;
  --typo-anchor--active--text-underline-position: inherit;
  --typo-anchor--focus--text-decoration-line: none;
  --typo-anchor--focus--text-decoration-color: inherit;
  --typo-anchor--focus--text-decoration-style: inherit;
  --typo-anchor--focus--text-decoration-thickness: inherit;
  --typo-anchor--focus--text-underline-offset: inherit;
  --typo-anchor--focus--text-underline-position: inherit;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-ring-width: 1px;
  --default-outline-width: 1px;
  --corner-shape-base: squircle;
  --corner-shape-container: squircle;
  --color-root-bg-light: var(--color-surface-50);
  --color-root-bg-dark: var(--color-surface-950);
  --color-brand-light: var(--color-primary-500);
  --color-brand-contrast-light: var(--color-primary-contrast-500);
  --color-brand-dark: var(--color-primary-500);
  --color-brand-contrast-dark: var(--color-primary-contrast-500);
  --color-primary-50: oklch(99.32% 0.03 106.96deg);
  --color-primary-100: oklch(96.45% 0.06 110.37deg);
  --color-primary-200: oklch(93.64% 0.09 111.97deg);
  --color-primary-300: oklch(91.21% 0.12 113.1deg);
  --color-primary-400: oklch(88.55% 0.15 114.08deg);
  --color-primary-500: oklch(85.97% 0.17 114.99deg);
  --color-primary-600: oklch(75.76% 0.15 115.45deg);
  --color-primary-700: oklch(65.19% 0.13 116.08deg);
  --color-primary-800: oklch(54.09% 0.11 117.58deg);
  --color-primary-900: oklch(42.48% 0.09 119.19deg);
  --color-primary-950: oklch(30% 0.07 121.83deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-dark);
  --color-primary-contrast-700: var(--color-primary-contrast-dark);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(93.36% 0.04 294.57deg);
  --color-secondary-100: oklch(83.89% 0.05 290.06deg);
  --color-secondary-200: oklch(73.92% 0.07 287.17deg);
  --color-secondary-300: oklch(64% 0.09 284.89deg);
  --color-secondary-400: oklch(53.59% 0.12 282.31deg);
  --color-secondary-500: oklch(43.36% 0.14 278.84deg);
  --color-secondary-600: oklch(38.62% 0.14 277.79deg);
  --color-secondary-700: oklch(33.64% 0.14 275.99deg);
  --color-secondary-800: oklch(28.81% 0.14 273.87deg);
  --color-secondary-900: oklch(24% 0.13 270.31deg);
  --color-secondary-950: oklch(18.99% 0.13 264.05deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-light);
  --color-secondary-contrast-500: var(--color-secondary-contrast-light);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(95.25% 0.02 33.6deg);
  --color-tertiary-100: oklch(87.9% 0.05 24.26deg);
  --color-tertiary-200: oklch(80.57% 0.08 21.85deg);
  --color-tertiary-300: oklch(73.6% 0.11 21.5deg);
  --color-tertiary-400: oklch(67.01% 0.15 22.3deg);
  --color-tertiary-500: oklch(61.17% 0.18 23.91deg);
  --color-tertiary-600: oklch(53.8% 0.16 24.11deg);
  --color-tertiary-700: oklch(46.05% 0.14 24.52deg);
  --color-tertiary-800: oklch(37.94% 0.12 24.93deg);
  --color-tertiary-900: oklch(29.49% 0.1 25.91deg);
  --color-tertiary-950: oklch(20.16% 0.08 29.23deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(98.19% 0.1 108.1deg);
  --color-success-100: oklch(96.93% 0.14 113.13deg);
  --color-success-200: oklch(95.8% 0.17 116.34deg);
  --color-success-300: oklch(94.73% 0.19 119.08deg);
  --color-success-400: oklch(93.86% 0.21 121.17deg);
  --color-success-500: oklch(93.1% 0.23 123.19deg);
  --color-success-600: oklch(85.67% 0.21 124.83deg);
  --color-success-700: oklch(78.15% 0.2 126.48deg);
  --color-success-800: oklch(70.67% 0.19 128.84deg);
  --color-success-900: oklch(62.83% 0.17 131.09deg);
  --color-success-950: oklch(54.73% 0.16 133.92deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-dark);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(98.12% 0.1 108.17deg);
  --color-warning-100: oklch(96.65% 0.13 106.28deg);
  --color-warning-200: oklch(95.07% 0.15 104.55deg);
  --color-warning-300: oklch(93.79% 0.17 103.5deg);
  --color-warning-400: oklch(92.4% 0.18 101.92deg);
  --color-warning-500: oklch(91.3% 0.19 100.48deg);
  --color-warning-600: oklch(83.95% 0.17 100.61deg);
  --color-warning-700: oklch(76.44% 0.16 100.78deg);
  --color-warning-800: oklch(68.95% 0.14 101.54deg);
  --color-warning-900: oklch(61.03% 0.13 101.92deg);
  --color-warning-950: oklch(52.84% 0.11 102.49deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-dark);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(83.28% 0.1 52.1deg);
  --color-error-100: oklch(77.73% 0.14 40.68deg);
  --color-error-200: oklch(72.78% 0.17 34.34deg);
  --color-error-300: oklch(68.74% 0.2 31.62deg);
  --color-error-400: oklch(65.62% 0.23 30.02deg);
  --color-error-500: oklch(63.67% 0.25 29.44deg);
  --color-error-600: oklch(58.07% 0.23 29.38deg);
  --color-error-700: oklch(52.3% 0.21 29.23deg);
  --color-error-800: oklch(46.6% 0.18 29.16deg);
  --color-error-900: oklch(40.47% 0.16 29.1deg);
  --color-error-950: oklch(34.02% 0.14 29.23deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-dark);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(90.11% 0.02 286.14deg);
  --color-surface-100: oklch(88.33% 0.02 286.06deg);
  --color-surface-200: oklch(80.14% 0.01 286.15deg);
  --color-surface-300: oklch(74.43% 0.01 286.11deg);
  --color-surface-400: oklch(66.61% 0.01 286.1deg);
  --color-surface-500: oklch(60.28% 0.01 286.04deg);
  --color-surface-600: oklch(53.75% 0.01 286.03deg);
  --color-surface-700: oklch(46.97% 0.01 286.09deg);
  --color-surface-800: oklch(39.64% 0.01 285.98deg);
  --color-surface-900: oklch(32.26% 0.01 286.06deg);
  --color-surface-950: oklch(24.48% 0.01 286.03deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
